.navBtn {
  width: 11.25rem; /* 180px */
  height: 11.25rem; /* 180px */
  position: relative;
  border-radius: 50%;
  border: 0.3125rem solid black; /* 5px */
  top: 4rem;
  right: 1.5rem; /* 24px */
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(46, 46, 46);
  line-height: 5rem;
  cursor: pointer;
  overflow: hidden;
}

.navBtn:hover {
  color: black;
}

.navBtn .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/pokeball.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.navBtn:hover .background {
  transform: rotate(360deg);
}

.navBtn .text {
  position: relative;
  z-index: 2;
  overflow: visible;
}

.btn-group button {
  width: 9.375rem; /* 150px */
  height: 2.5rem; /* 40px */
  margin: 1.5625rem; /* 25px */
  border-radius: 1.875rem; /* 30px */
  box-shadow: 0.1875rem 0.1875rem; /* 3px */
  font-weight: bold;
  background-color: aquamarine;
}
