.container {
  display: flex;
  flex-direction: column;
  min-height: 59vh;
  height: 100%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  @media screen and (max-width: 550px) {
    flex-direction: column;

    > .pokemonDetailsContainer {
      position: relative;
      bottom: 110px;
      margin: 0;

      & > p {
        max-width: 200px;
      }
    }

    & div > button {
      position: relative;
      top: 29rem;
    }

    & > button {
      position: relative;
      bottom: 5rem;
      left: 0.5rem;
    }
  }
}

.details button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.875rem; /* 30px */
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: "Kode Mono", monospace;
  font-weight: bold;
  font-size: 1.3rem;
}

.pokemonDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.1s ease-in-out;
  border-radius: 0.9375rem; /* 15px */
  font-weight: lighter;
  color: black;
  width: 25rem; /* 400px */
  height: 31.25rem; /* 500px */
  margin: 1.5rem; /* 24px */

  @include breakpoint-down(small) {
    width: 21rem;
    // font-size: 0.9rem;
  }
}

.pokemonDetailsContainer img {
  height: 14.5rem; /* 200px */
  @include breakpoint-down(small) {
    height: 12.5rem;
  }
}

.pokemonDetailsContainer p {
  font-family: "Kode Mono", monospace;
  text-align: center;
}

.goBackLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: black;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  // margin-left: 1.875rem; /* 30px */

  &:hover {
    color: rgb(51, 50, 50);
  }
}
