.container {
  display: flex;
  flex-direction: column;
  min-height: 59vh;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.details button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.875rem; /* 30px */
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: "Kode Mono", monospace;
  font-weight: bold;
  font-size: 1.3rem;
}

.pokemonDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5); /* 5px */
  background-color: rgb(188, 188, 223);
  transition: 0.1s ease-in-out;
  border-radius: 0.9375rem; /* 15px */
  font-weight: lighter;
  color: black;
  width: 25rem; /* 400px */
  height: 31.25rem; /* 500px */
  margin: 1.5rem; /* 24px */
}

.pokemonDetailsContainer img {
  height: 12.5rem; /* 200px */
}

.pokemonDetailsContainer p {
  font-family: "Kode Mono", monospace;
  text-align: center;
}

.goBackLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: black;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  margin-left: 1.875rem; /* 30px */

  &:hover {
    color: rgb(51, 50, 50);
  }
}
