.customLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;

  &:hover {
    color: yellow;
  }
}

.favourites {
  border-left: 0.1875rem solid white; /* 3px */
  padding-left: 0.625rem; /* 10px */
  border-right: 0.1875rem solid white; /* 3px */
  padding-right: 0.625rem; /* 10px */
  margin-left: 3.375rem; /* 54px */
}

.favoritesPage {
  flex-grow: 1;
  min-height: 59vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.favoritesPage .goBackLink {
  position: relative;
  font-size: 1.7rem;
  margin-left: 0;
}

.displayedPokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1.5rem; /* 24px */
  height: 16.5625rem; /* 265px */
  width: 56.25rem; /* 900px */
  border-radius: 1.875rem; /* 30px */
  box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgba(0, 0, 0, 0.3); /* 2px 2px 4px 2px */

  @include breakpoint-down(medium) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 20rem; /* 320px */
    width: auto;
    height: auto;
  }
}

.displayedPokemon img {
  height: 12.5rem; /* 200px */

  @include breakpoint-down(medium) {
    flex: 2;
    margin-bottom: 0.625rem; /* 10px */
  }
}

.nameImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.5rem; /* 200px */
  margin-top: 1.25rem; /* 20px */

  @include breakpoint-down(medium) {
    height: 12.5rem; /* 200px */
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.nameImg p {
  @include breakpoint-down(medium) {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }
}

.nameTypes,
.nameAbilities,
.nameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 12.5rem; /* 200px */

  @include breakpoint-down(medium) {
    width: auto;
    margin-bottom: 0.625rem; /* 10px */
  }
}

.wrapperTypesAbilities {
  display: flex;

  @include breakpoint-down(medium) {
    .wrapperTypesAbilities {
      display: flex;
    }

    .nameAbilities,
    .nameTypes,
    h3,
    ul {
      padding-bottom: 0.5rem; /* 8px */
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.displayedPokemon ul {
  margin-bottom: 6.25rem; /* 100px */

  @include breakpoint-down(medium) {
    width: auto;
    margin-bottom: 0.625rem; /* 10px */
  }
}

.cross {
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  border: 0.25rem solid red; /* 4px */
  margin-right: 2.5rem; /* 40px */
  margin-left: 2.5rem; /* 40px */
  cursor: pointer;

  @include breakpoint-down(medium) {
    margin: 0;
    padding: 0;
  }
}

.crossContainer {
  margin-left: 0.75rem; /* 12px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    content: "remove";
    cursor: pointer;
    color: rgba(255, 0, 0, 0.534);
    position: absolute;
    left: 25%;
    top: 100%;
  }

  @include breakpoint-down(medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem; /* 20px */
    padding: 0;

    &::after {
      position: static;
      content: "remove pokemon";
      color: rgba(255, 0, 0, 0.534);
      cursor: pointer;
    }
  }
}
