@import "variables";
@import "mixins";

html,
body {
  font-size: 100%;
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(
    to top right,
    $lightBlue,
    rgb(144, 144, 223)
  );
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Upewnij się, że tło jest za treścią */
}

body.noscroll {
  overflow: hidden;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.hide {
  display: none;
}
