.pokemonList {
  display: grid;
  grid-template-columns: repeat(
    2,
    minmax(0, 1fr)
  ); /* zmiana z 0fr na minmax(0, 1fr) */
  grid-gap: 1.25rem; /* 20px */
  column-gap: 7.5rem; /* 120px */
  justify-content: center;
  text-decoration: none;

  @include breakpoint-down(medium) {
    grid-template-columns: repeat(
      1,
      minmax(0, 1fr)
    ); /* zmiana z 0fr na minmax(0, 1fr) */
    grid-gap: 1.25rem; /* 20px */
    column-gap: 7.5rem; /* 120px */
    justify-content: center;
    text-decoration: none;
  }
}

.pokemonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5); /* 5px */
  background-color: rgb(188, 188, 223);
  transition: 0.1s ease-in-out;
  border-radius: 0.9375rem; /* 15px */
  padding-left: 0.9375rem; /* 15px */
  font-weight: lighter;
  color: black;
  width: 26.25rem; /* 420px */

  @include breakpoint-down(small) {
    width: 22rem;
    font-size: 0.8rem;
  }

  > img {
    height: 9.375rem; /* 150px */
    @include breakpoint-down(small) {
      height: 7.5rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(144, 144, 223, 0.884);
  }
}

.detailsLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.pokemonContainer button {
  background-color: transparent;
  border: none;
  cursor: alias;
  font-size: 1.7rem;
}

.pokemonContainer button:hover::after {
  content: "Add or remove pokemon from favorites list";
  font-size: 1rem;
  background-color: rgba(85, 85, 85, 0.31); /* #5555554f */
  color: white;
  border-radius: 0.25rem; /* 4px */
  padding: 0.3125rem; /* 5px */
  position: absolute;
  transform: translateX(10%);
  transform: translateY(200%);
  z-index: 1;
}

.content_center {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 60vh;
  padding: 1rem;
  align-items: center;
}
